fruehlingszwiebel-demo/mvnw
fruehlingszwiebel-demo/mvnw.cmd
fruehlingszwiebel-demo/.mvn/wrapper/maven-wrapper.jar
fruehlingszwiebel-demo/.mvn/wrapper/maven-wrapper.properties
fruehlingszwiebel-demo/src/main/angular-starter/node_modules
